:root {
  
  /* Overrides */
    --overrides-h-color: #74737a;
  /* Overrides */

  /* Fonts */
    --font-1: Helvetica, sans-serif;
    --font-2: Georgia, Times, 'Times New Roman', serif;
    --font-3: Montserrat, sans-serif;
    --small-heading-font: Montserrat, sans-serif;
    --react-tabs-tab-font: Montserrat, sans-serif;
  /* Fonts */

  /* app-custom */
    /* content column - main column */
      --main-col-position: left;
      --content-grey-rule-bg-color: #c7c7c7;
      --content-a-hover-color: #3898EC;
      --content-button-bg-color: #483332;
      --content-tab-pane-bg-color: #fff;
      --content-search-result-box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
      --content-search-result-color: rgba(51, 51, 51, .67);
      --content-search-result-h1-color: #74737a;

    /* main column */
  /* app-custom */

  /* Footer */
  --footer-bg-color: #3f474d;
    --footer-color: #dddada;
  --footer-a-color: #dddada;
  --footer-submit-bg: #3898ec;
    --footer-submit-color: #fff;
  --footer-social-bg-color: #171b1d;
  --footer-social-color: #7e7979;

  /* HomeContentColumn */
  --home-wbutton-bg-color: #483332;

  /* PageContentColumn */
  --pagecontentcolumn-color: rgba(51, 51, 51, .67);

  /* Paginator */
  --paginator-li-bg-color: #337ab7;
  --paginator-li-border-color: #337ab7;
  --paginator-li-color: #337ab7;

  /* React tabs */
  --reacttabs-bg-color: #fff;
  --reacttabs-color: initial;
  --reacttabs-selected-bg-color: #fff;
  --reacttabs-selected-color: black;
  --reacttabs-border: 1px solid transparent;
  --reacttabs-border-radius: 5px 5px 0 0;;
  --reacttabs-bg-image: initial;
  --reacttabs-hover-bg-color: initial;
  --reacttabs-hover-color: initial;
  --reacttabs-selected-border: 1px solid rgba(0, 0, 0, .06);
  --reacttab-panel-border: 1px solid rgba(0, 0, 0, .06);

  /* Section */
  --section-bg-color: #e0ddd7;  
  --section-color: #1abc9c;
  --section-flex-dir: initial;

  /* Sidebar */
  --sidebar-col-position: right;
  --sidebar-a-color: #a9a9a9;
  --sidebar-box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
  --sidebar-border-radius: 5px;
  --sidebar-small-heading-color: rgb(116, 115, 122);
  --sidebar-small-heading-padding: auto;
  --sidebar-small-heading-bg: transparent;

  /* TopBar */
  --topbar-bg: #fff;   
  --topbar-submit-button-bg-color: #1abc9c;
  --logo-img: url("../../themes/default/assets/logo.png");
  --logo-img-top: url("../../themes/default/assets/creative-commons-logo.png");  
  --logo-img-height: 50px;
  --logo-img-width: 90px;
  --logo-color: #7a737a;
  --navbrand-top-margin: 50px;
  --heading-above-search: none;
  --second-header-row-display: initial;
  --second-header-text-align: initial;
  --logotype-h1-bg: white;
  --logotype-h1-height: 20%;
  --logotype-h1-lineht: 24px;
  --logotype-h1-font: auto;
  --logo-h1-font-size: 1.4rem;
  --logo-h2-font-size: 1.2rem;
  --navbrand-h1-display: block;
  --logo-h2-mleft: 0px;
  --logo-img-float-994: none;

  --search-form-container-mtop: 60px;
  --search-form-container-mbottom: 20px;

  --languageswitcher-highlight-bg-color: #e0ddd7;
  --languageswitcher-bg-color: #e0ddd7;
  --lang-switch-font-size: 12px;

  /* Media */
  --sidebar-left-margin-767: auto;
  --sidebar-right-margin-767: 0px;
  --navbrand-mtop-994: 30px;
  --navbrand-display-994: block;
  --navbrand-float-767: none;
 
}


@media all and (max-width: 767px){
  .sidebar-col .white-wrapper {
    background: #e0ddd7;
  }
}
/* 
@media (max-width: 500px) and (orientation: portrait)
{
.lang-switcher-wrapper {
    margin-right: 30px;
    top: -180px;
    position: relative;
}
} */