.w-button,
.more-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #483332;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.more-button {
    background-color:#fff;
    float: right;
}
.more-button img{
  margin:0!important;
}

/* tabs */
    .tab-menu {
        position: relative;
        height:37px;
        margin:0;
        padding:0;
        list-style:none;
    }
    .d-tabs .tab-menu li{
      width:25%;
      float:left;
    }
    .homepage .tab-menu li{
      float:left;
      width: 33.3%;
      text-align: center;
    }
    .current-tab {
        background-color: #24a7ff
    }
    .d-tabs{
      margin-top: 8px;
    }
    .tab{
      font-family: Montserrat, sans-serif;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      font-size: 13px;
      position: relative;
      vertical-align: top;
      text-decoration: none;
      padding: 9px 30px;
      text-align: left;
      cursor: pointer;
      color: #222222;
      border-right: 1px solid #2abeb8;
      background-color:#cabcbb;
      width:100%;
      display:block;
      text-align:center;
    }
    .tab:hover,
    .tab.active {
        background-color:#A9A9A9;
        color:#fff!important;
        text-decoration:none!important;
    }
    .search-result .tab-menu{
      border-bottom: 1px solid #24a7ff;
      margin-top: 21px;
    }
  /* tabs */