.ui-lang-item {padding:5px;}

.ui-lang-item > button {
    background:none!important;
    border:none; 
    padding:0!important;
    font-size:11px;
    /*optional*/
    font-family:arial,sans-serif;  /*input has OS specific font-family*/
    /* color:#069; */
    color: var(--languageswitcher-color);
    /*text-decoration:underline;*/
    cursor:pointer;
    text-transform: uppercase; 
}

.ui-lang-highlight {
    background-color: var(--languageswitcher-highlight-bg-color);
}

.ui-lang-item:hover {
    background-color: var(--languageswitcher-bg-color)
}

ul.list-inline {
    display: inline-block;
}

ul.list-inline > [class^="Select"] {
    display: inline-table;
    min-width: 120px;
}

ul.list-inline .Select-control {
    display: contents;
}

ul.list-inline .Select-value {
    padding-left: 0px !important;
    padding-right: 25px !important;
}

ul.list-inline .Select-clear-zone, ul.list-inline .Select-input  {
    display: none;
}