.ui-lang-item {
    font-size: var(--lang-switch-font-size);
    font-family: var(--font-3);
}

.ui-lang-item > button {
    background:none!important;
    border:none; 
    padding:0!important;
    font-size:11px;
    /*optional*/
    font-family:arial,sans-serif;  /*input has OS specific font-family*/
    /* color:#069; */
    color: #a9a9a9;
    /*text-decoration:underline;*/
    cursor:pointer;
    text-transform: uppercase; 
}

.ui-lang-highlight {
    background-color: var(--languageswitcher-highlight-bg-color);
}

.ui-lang-item:hover {
    background-color: var(--languageswitcher-bg-color)
}

ul.lang-list {
    display: none;
    white-space: nowrap;
}

ul.lang-list.show {
    display: inline-block;
}
.lang-switcher-wrapper {
    position: absolute;
    top: 0px;
    right: 30px;
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
}

.current-lang {
    line-height: 2em;
    vertical-align: bottom;
    padding-right: 4px;
    color: #74737a;
}
.lang.dropbtn {
    background: var(--reacttabs-bg-image);
    color: #74737a;    
    display: none;
}

.dropbtn {
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    color: var(--logo-color);
}

.dropdown.lang-list {
    display: inline;
    float: right;
}
ul.list-inline {
    display: inline-block;
    line-height: 30px;
}
ul.list-inline > [class^="Select"] {
    display: inline-block;
    min-width: 80px;
}
ul.list-inline .Select {
    float: left;
}
ul.list-inline .Select-control {
    background: transparent !important;
    border: 0px!important;
    position: initial;
    height: auto;
    box-shadow: none;
}

ul.list-inline .Select-value {
    padding-left: 0px !important;
    padding-right: 25px !important;
    text-align: center;
    background: transparent !important;
}

ul.list-inline .Select-clear-zone, ul.list-inline .Select-input  {
    display: none !important;
}

ul.list-inline .Select-input {
    height: 100%;
}

ul.list-inline .Select-arrow-zone {
    float: right;
}
.Select-placeholder, .Select--single > .Select-control .Select-value {
    line-height: inherit!important;
}
.Select-option {
    line-height: 13px;
}