.home-active-tab > a {
    background-color: var(--reacttabs-bg-color);
    color: var(--reacttabs-color);
    text-decoration: none!important;
}

/** for pure react tabs **/

.react-tabs__tab-list {
    margin:0 0 1px !important;
}