.search-container {display:flex;}
.search-container input {height:var(--search-form-submit-btn-ht);}
.inline-list {list-style:none; display:inline; padding:0; margin:0;}
.inline-list li {display:inline; padding:0px 2px;}