/** used by Section.js **/
.section{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: var(--section-bg-color);
    color: var(--section-color);
    width:100%;
    min-width: 400px;
    float: left;
    overflow-x: auto;
}

.left{
    float: left;
}

.right{
    float:right;
}

.sidebar-col.col-3{
  font-family: var(--font-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #869aa7;
  font-size: 13px;
  padding-left:0;
}

.sidebar-col.col-3{
  display: block;
}

.small-heading {
  margin-top: 0px;
  margin-bottom: 2px;
  font-family: var(--font-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  /*line-height: 135%;*/
  text-align: left;
}
#root > section > .container-fluid > .row {
  flex-direction: var(--section-flex-dir);
}

/* The following rule is required only for IE as the flex layout is still buggy there.
   It will be parsed only on IE.
   The ke theme requires swapping of the main and sidebars.  Changing 'float' alone will
   not work within a flex container (search pages) on any browser.
   For Chrome, we can simply change flex-direction. Since this doesn't
   work on IE, we will have to change the layout itself from flex to table (for ke layout).
 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #root > section > .container-fluid > .row {
    display: var(--section-ie-flex-alt);
  }
}