.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 100px;
    overflow-y: auto;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  

  .ui-ac-item-render {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform:capitalize;
  }

  .ui-act-item-meta nav {float:left;}
  
   .ui-ac-item-render-content{
    margin-left: 15px;
    text-align: left;
    }
  
    .ui-ac-item-render-content h3 {
      font-size: 12px;
      margin-top: 2px;
      margin-bottom: 2px;
    }
  
    li.ui-ac-item:hover ,.ui-ac-item-render:hover, .ui-ac-item-render-content:hover  {
      background-color: rgb(250, 244, 244) !important;
    }
  
    .ui-act-item-meta ol {
      display: inline;
      margin: 0;
      padding: 0;
    }
    .ui-act-item-meta li {
      display: inline;
      text-transform: uppercase;
      color: #a9a9a9;
      /* white-space: nowrap should be moved to child A because IE fails to wrap resulting list completely */
    }
    .ui-act-item-meta li::before {
      content: ' ';
      /*
      this content is important only for Crome in case the HTML will be minified with no whitespaces between </li><li>
      */
    }
    .ui-act-item-meta li::after {
      content: ' ';
      white-space: normal;
      word-spacing: 1em; 
      background-image: radial-gradient(circle, black, black 7%, transparent 15%, transparent 35%, black 45%, black 48%, transparent 55%);
      background-size: .5em .5em;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.5;
  
    }